* {
  padding: 0;
  margin: 0;
}
img {
  margin-top: 60px;
  height: 300px;
  width: 200px;
}
.box-art {
  box-shadow: 5px 5px 10px 2px rgb(179, 161, 161);
}

.sectionBlack {
  background-color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  position: relative;
  height: 50vh;
}

.sectionWhite {
  background-color: rgb(235, 224, 224);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  position: relative;
  height: 50vh;
}

/* .title {
  display: inline-block;
} */

h3 {
  text-align: center;
}

.h3text {
  color: rgb(194, 136, 65);
}
